@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700;800&display=swap');

/* GERAIS */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TIPOGRAFIA */
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

a {
    text-decoration: none;
    background-color: transparent;   
}

.project-covers > a:before {
    color: #222222;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.project-covers > a > span {
    color: #7c7c7c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: none;
}

/* Galeria Projetos */
main {
    /* container da seção principal */
    width: 75%;
    height: 100%;
}

.project-covers {
    /* container de todas as imgs */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project-covers > a {
    /* tamanho do container da img */
    width: 50%;
    position: relative;
}

.project-covers > a > span {
    /* ano do projeto */
    position: absolute;
    top: calc(35%);
    opacity: 0;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.project-covers > a:after, .project-covers > a:before {
    /* propriedades comum do overlay da imagem */
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.project-covers > a:after {
    /* background no hover da foto */
    content: "";
    width: 90%; height:90%;
    top:calc(5%); left:calc(5%);
    background:rgba(255,255,255,0.9);
}

.project-covers > a:before {
    /* texto em cima da img */
    content: attr(data-content);
    width: 100%;
    padding-left: 10%;
    color: black;
    z-index: 1;
    top: 45%;
    padding: 0 10%;
    text-align: center;
}

.project-covers > a:hover:after, .project-covers > a:hover:before,
.project-covers > a:hover > span {
    opacity: 1;
}

.project-cover {
    width: calc(100% + 2px);
    margin-right: 0px;
    min-height: 100%;
    vertical-align: top;
}


/* RESPONSIVIDADE */

/* celular até tablet */
@media (max-width: 576px){
    body {
        flex-flow: column;
    }

    /* side */
    .side-content {
        width: 100%;
    }

    /* logo */
    .side-content > header {
        text-align: left;
        margin-left: 2rem;
    }

    .side-content > header > a {
        padding: 20px 0;
    }

    /* barra de navegação */
    nav {
        display: none;
    }

    /* seção galeria */
    main {
        width: 100%;
    }

    /* seção galeria */
    .project-covers {
        width: 100%;
    }

    /* container imgs */
    .project-covers > a {
        width: 100%;
    }

    /* img individual */
    .project-cover {
        width: 100%;
    }
}
