/* TIPOGRAFIA */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h1 {
  color: #222222;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding-bottom: 20px;
  padding-top: 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: -2px;
}

h2 {
  color: #222222;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.subsecao > h2:last-child {
  color: #999999;
  padding-top: 5px;
}

span,
.texto {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* padding-bottom: 5px; */
  padding-top: 0px;
  text-align: left;
  text-transform: none;
}

.texto {
  font-size: 12.5px;
  padding-bottom: 2px;
}
.subsecao > span,
.status {
  text-transform: uppercase;
}

.dados-tecnicos > span:first-child {
  padding-bottom: 5px;
}

.subtitulo {
    line-height: 18px;
    text-align: left;
    color: #222222;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.2px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase
}

/* ESTILIZAÇÂO */

.subsecao .button {
  margin: 0 auto;
  text-align: center;
}

.button {
  padding: 0 30px;
  border-radius: 100px;
  color: #ffffff;
  font-family: arial;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  text-transform: none;
  background-color: #9c0101;
  border: none;
}

/* POSICIONAMENTO */

main {
  width: 75%;
}

.page-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-bottom: 75px;
  padding-top: 75px;
  width: 100%;
}

.dados-tecnicos,
.subsecao {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 20px;
  max-width: 800px;
  width: 100%;
}

.projeto-imgs {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 0px;
  max-width: 100%;
  width: 100%;
}

.projeto-img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.lado-a-lado {
  display: flex;
  margin: 4px 0;
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: nowrap;
}

.lado-a-lado > img {
  width: 49%;
}

.lado-a-lado > img:last-child {
  margin-right: 0;
}

.quatro-imgs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.quatro-imgs > img {
  max-width: calc(25% - 4px);
  margin-right: 4px;
}

.n-container, .n-container2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: 0px;
  max-width: 100%;
  justify-content: space-between;
}

.n-container {
    padding-bottom: 40px;
}

.p-20 {
  padding-bottom: 0;
}

.n-container > img {
  flex: 1 1 0px;
  margin: 4px;
  width: 0;
}

.n-container > img:last-child {
    margin-right: 0px;
}

.texto-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 20px;
    max-width: 800px;
    width: 100%;
}

.video-container {
    max-width: 560px;
    max-height: 315px;
    margin: 0 auto;
    margin-top: 50px;
}